In [ ]:
import numpy as np
import pandas as pd

#Creating series object

series are numpy arrays with indices

In [ ]:
a = pd.Series([0 , 1, 1 ,2 , 3 , 5 , 8]) # S is capital in series

In [ ]:
a

0    0
1    1
2    1
3    2
4    3
5    5
6    8
dtype: int64

In [ ]:
a.values

array([0, 1, 1, 2, 3, 5, 8])

In [ ]:
a.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
for v in a.values:
    print(v)

0
1
1
2
3
5
8

In [ ]:
for i in a.index:
    print(i)

0
1
2
3
4
5
6

In [ ]:
for item in zip(a.index , a.values):  # we get tuples  similar to dictionaries where we have a key and value but there are difference
    print(item)

(0, 0)
(1, 1)
(2, 1)
(3, 2)
(4, 3)
(5, 5)
(6, 8)

In [ ]:
a[0]

0

In [ ]:
a[1]

1

In [ ]:
mars = pd.Series([0.33 , 57.9 ,4222.6] , index= ['mass' , 'diameter' , 'daylength'])

In [ ]:
mars

mass            0.33
diameter       57.90
daylength    4222.60
dtype: float64

In [ ]:
mars['diameter']

57.9

In [ ]:
arr = np.random.randint( 0 , 10 ,20)

In [ ]:
index = np.arange(10,30)

In [ ]:
arr

array([8, 5, 4, 2, 7, 9, 7, 0, 7, 1, 8, 8, 6, 5, 3, 3, 3, 0, 6, 4])

In [ ]:
randint_series = pd.Series(arr , index)

In [ ]:
randint_series

10    8
11    5
12    4
13    2
14    7
15    9
16    7
17    0
18    7
19    1
20    8
21    8
22    6
23    5
24    3
25    3
26    3
27    0
28    6
29    4
dtype: int64

In [ ]:
d= { } # Creating dictionaries

In [ ]:
d['mass'] = 0.33
d['diameter'] = 57.9
d['daylength'] = 4222.6

In [ ]:
d

{'daylength': 4222.6, 'diameter': 57.9, 'mass': 0.33}

In [ ]:
mars = pd.Series(d)

In [ ]:
mars

mass            0.33
diameter       57.90
daylength    4222.60
dtype: float64

In [ ]:
mars

mass            0.33
diameter       57.90
daylength    4222.60
dtype: float64

## iloc & loc

In [ ]:
a = pd.Series([0 , 1, 1 ,2 , 3 , 5 , 8] , index=[1,2,3,4,5,6,7])

In [ ]:
a

1    0
2    1
3    1
4    2
5    3
6    5
7    8
dtype: int64

In [ ]:
a.loc[3]

1

In [ ]:
a.iloc[3] # implicit location

2

In [ ]:
mars = pd.Series(d , index=[ 'mass' , 'diameter'])

In [ ]:
mars.iloc[0]

0.33

In [ ]:
mars[0:2]

mass         0.33
diameter    57.90
dtype: float64

In [ ]:
mars.loc['mass']

0.33

In [ ]:
mars.loc['mass':'diameter'] # note the diff here index diameter is inclusive

mass         0.33
diameter    57.90
dtype: float64

#simple operations

In [ ]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [ ]:
print(mass)

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [ ]:
mass.iloc[2:5]

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [ ]:
mass> 100

Mercury    False
Venus      False
Earth      False
Mars       False
Jupiter     True
Saturn      True
Uranus     False
Neptune     True
Pluto      False
dtype: bool

In [ ]:
mass[mass>100] # important

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [ ]:
mass[ (mass> 100) & (mass< 600)]

Saturn     568.0
Neptune    102.0
dtype: float64

In [ ]:
mass* 2

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [ ]:
mass / 10

Mercury      0.03300
Venus        0.48700
Earth        0.59700
Mars         0.06420
Jupiter    189.80000
Saturn      56.80000
Uranus       8.68000
Neptune     10.20000
Pluto        0.00146
dtype: float64

In [ ]:
np.mean(mass)

296.29184444444445

In [ ]:
np.amin(mass)

0.0146

In [ ]:
np.amax(mass)

1898.0

In [ ]:
np.median(mass)

5.97

In [ ]:
big_mass = mass[mass>100]

In [ ]:
big_mass

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [ ]:
new_mass = big_mass + mass # only the intersection value get added

In [ ]:
new_mass

Earth         NaN
Jupiter    3796.0
Mars          NaN
Mercury       NaN
Neptune     204.0
Pluto         NaN
Saturn     1136.0
Uranus        NaN
Venus         NaN
dtype: float64

In [ ]:
pd.isnull(new_mass) # gives true if the value is null

Earth       True
Jupiter    False
Mars        True
Mercury     True
Neptune    False
Pluto       True
Saturn     False
Uranus      True
Venus       True
dtype: bool

In [ ]:
new_mass[-pd.isnull(new_mass)]

Jupiter    3796.0
Neptune     204.0
Saturn     1136.0
dtype: float64

In [ ]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [ ]:

mass['moon']= 0.7346

In [ ]:

mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
moon          0.7346
dtype: float64

In [ ]:
mass.drop(['Pluto'])

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
moon          0.7346
dtype: float64

 #  **Task 1**

Collect numbers for the diameters of these planets (heavenly bodies) and store it as a Series object. Then given these two Series objects mass and diameter, compute the density of each planet.

In [ ]:
planets_diam = pd.Series([4878 ,12104 ,12756 ,6794 ,142984 ,120536 ,51118 ,49532] ,
                         index= ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'])

In [ ]:
planets_diam

Mercury      4878
Venus       12104
Earth       12756
Mars         6794
Jupiter    142984
Saturn     120536
Uranus      51118
Neptune     49532
dtype: int64

In [ ]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'])

In [ ]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [ ]:
density = pd.Series([])  # Iterative method

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:

for planets in mass.index:
    density[planets] = mass[planets] /  (np.pi* planets_diam[planets] **3 /6)

In [ ]:
print(density)

Mercury    5.429876e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.909847e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603039e-12
dtype: float64

In [ ]:
density = mass / (np.pi* np.power(planets_diam , 3)/6)  # another simple way

In [ ]:
density

Mercury    5.429876e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.909847e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603039e-12
dtype: float64

# **Task 2**

Given this density Series, replace all values which NaNs with the mean density of all planets

practice
# creating data frames

In [ ]:
def create_df(nrows , ncol , maxRand = 10):
    arr = np.random.randint(0 , maxRand , (nrows , ncol))
    df = pd.DataFrame(arr)
    df.index =[ 'R' + str(x) for x in np.arange(1, nrows +1)]
    df.columns = [ 'C' + str(x) for x in np.arange(1, ncol + 1) ]
    return df

In [ ]:
create_df(5,3)

    C1  C2  C3
R1   9   3   3
R2   9   4   6
R3   8   8   7
R4   7   9   6
R5   3   3   9

In [ ]:
def create_dataframes(nrows , ncols , maxint =100):
    arr = np.random.randint(0 , maxint , (nrows , ncols)) # random integer between 0 and 100 in the shape nrows * n columns
    df1 = pd.DataFrame(arr)
    df1.index =['Row' + str(x) for x in np.arange(1, nrows + 1)]
    df1.columns = [ ' columns' + str(x) for x in np.arange(1 , ncols + 1)]
    return df1

In [ ]:
create_dataframes(5,6)

       columns1   columns2   columns3   columns4   columns5   columns6
Row1         82         68         85         17         51         78
Row2         10         10         63         84         27         10
Row3         65          6         65         17         45          8
Row4         25         68         96         83         35          2
Row5         10         65         55         25         89         66

## creating dataframe using series

In [ ]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'])

In [ ]:
planets_diam = pd.Series([4878 ,12104 ,12756 ,6794 ,142984 ,120536 ,51118 ,49532 , 5300] ,
                         index= ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune' , 'Moon'])

In [ ]:
planets_df = pd.DataFrame({'Mass': mass ,' Diameter':planets_diam} )

In [ ]:
planets_df

             Mass   Diameter
Earth       5.970      12756
Jupiter  1898.000     142984
Mars        0.642       6794
Mercury     0.330       4878
Moon          NaN       5300
Neptune   102.000      49532
Saturn    568.000     120536
Uranus     86.800      51118
Venus       4.870      12104

In [ ]:
planets_df['Mass']

Earth         5.970
Jupiter    1898.000
Mars          0.642
Mercury       0.330
Moon            NaN
Neptune     102.000
Saturn      568.000
Uranus       86.800
Venus         4.870
Name: Mass, dtype: float64

In [ ]:
planets_df['Mass']['Earth']

5.97

In [ ]:
planets_df['pop']= 0  # adding a new column in df

In [ ]:
planets_df

             Mass   Diameter  pop
Earth       5.970      12756    0
Jupiter  1898.000     142984    0
Mars        0.642       6794    0
Mercury     0.330       4878    0
Moon          NaN       5300    0
Neptune   102.000      49532    0
Saturn    568.000     120536    0
Uranus     86.800      51118    0
Venus       4.870      12104    0